

@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-anticlock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotating-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}

.circle-4, .circle-2 {
  animation: rotate-clock 60s linear infinite;
}

.circle-3 {
  animation: rotate-anticlock 60s linear infinite;
}

 .item-2,.item-4 {
  animation: rotate-anticlock 60s linear infinite;
} 

.item-3 {
  animation: rotate-clock 60s linear infinite;
}




.outer-circle,
.middle-circle,
.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px dashed #ddd;
  z-index: -1;
}

.outer-circle {
  width: 1200px;
  height: 1200px;
}

.middle-circle {
  width: 870px;
  height: 870px;
}

.inner-circle {
  width: 500px;
  height: 500px;
}



